\pdflatex=1
\documentclass{% if toc %}[toc]{% endif %}{mathprint}
\usepackage{rutarmacros}
\usepackage{macros}

\addbibresource{main.bib}

\title[{{ short_title }}]{{ '{' ~ title ~ '}' }}

% uncomment to include journal title
% \journal{REPLACE}

\author
  {NAME}
  {ADDRESS}
  {EMAIL}

\begin{document}
\begin{abstract}
    REPLACE
\end{abstract}

\section{Introduction}
REPLACE

\begin{acknowledgements}
    REPLACE
\end{acknowledgements}
\end{document}
